	<hr>
	<h3>tache ToDo!</h3>
  	<table  class="liste liste-container">
		<tr  ng-repeat="(key, value) in todo"  class="ligne-todo">
			<td style="width:30%">{{key}}</td><td style="width:70%"> {{value}}</td>
		</tr>
	</table>
            <button ui-sref="membres_liste">Retour</button>
<!--        <div>Id: {{profil._id}}</div>
            <div>Nom: {{profil.Nom.toUpperCase()}}</div>
            <div>Prenom: {{profil.Prenom.ucfirst()}}</div>
            <div>Mail: {{profil.Mail}}</div>
            <div>Javascript: {{profil.Javascript}}</div>
            <div>site_pref: {{profil.site_pref}}</div>
            <div>Pourquoi_S: {{profil.Pourquoi_S}}</div>
            <div>app_pref: {{profil.app_pref}}</div>
            <div>Pourquoi_A: {{profil.Pourquoi_A}}</div>
            <div>before_IFA: {{profil.before_IFA}}</div>
            <div>pourquoi_IFA: {{profil.pourquoi_IFA}}</div>
    -->        
