<div>

<hr>

<button ui-sref="taches_liste" >< retour</button >

<h4>Nouveau ToDo</h4>

	<form ng-submit="create(keys)">
         <div>Do: 			<input type="checkBox"	ng-model="keys.Etat"	></div>
         <div>Nom:			<input type="text"		ng-model="keys.Nom"			required></div>
         <div>Description:	<input type="text"		ng-model="keys.Description"	required></div>
         <div>Date:  		<input type="date"		ng-model="keys.Date"		required></div>
         <div>heure:  		<input type="time"		ng-model="keys.Heure"		required></div>
        <input type="submit">
	</form>
</div>