<div>

<hr>

<button ui-sref="taches_liste" >< retour</button >

<h4>Nouveau ToDo</h4>

<!--<p>mail : {{eleve.Mail}}</p>

<pre>

	{{eleve | json }}

</pre>
<ul>

	<li ng-repeat="k in eleve"><input type="text" value="{{k}}"></li>

</ul>-->
		<!--<div>Id:			<input type="text"	ng-model="._id"			></div>-->
         <div>Do: 			<input type="checkBox"	ng-model="keys.Do"	></div>
         <div>Nom:			<input type="text"		ng-model="keys.Nom"			></div>
         <div>Description:	<input type="text"		ng-model="keys.Description"		></div>
         <div>Date:  		<input type="date"		ng-model="keys.Date"			></div>
         <button ng-click="create(keys)">Submit</button>
</div>